@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Mulish:wght@200&family=Open+Sans&family=PT+Sans:ital,wght@1,700&family=Roboto:wght@100&display=swap');   
*{  
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
     /* create a variable dark and background */
    --dark: #350363;  
    --background: #ffe9db;

}
html {
    font-size: 62.5%;  /*1 rem=10px */
    font-family: 'PT Sans', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */

}

body
{
   width:100vw;
  
   /* body element ko center mein lane ke liye */
   display: flex;
   justify-content: center;
   align-items: center;
   /* ------------------------ */
   margin: auto;
   background-color: #491579;
}

main
{
  width: 30vw;
  text-align: center;
  background-color:  var(--background);
  border:solid var(--dark);
  /* padding: top & button  left& right; */
  border-width: 0.8rem;
  border-radius:1rem;
  /* border-color: red; */
  padding: 8rem 6rem;
  margin-top: 6rem;
/* default color */
  color:#1f2933;
}

h2
{
    font-size: 2.2rem;
    margin: 2rem;
}

h3
{
    font-size: 3rem;
}

p
{
font-size: 1.8rem;
}

.image
{
    width:90%;
    max-height:20rem;
    height: auto;
    margin:1rem 0 4rem 0;
    /* margin: top right button left; */

}

.button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 2rem;
}

button{
  min-width: 28rem;
  background-image:linear-gradient(92.88deg,#455eb5 9.16%,#5643cc 43.89%,#673fd7 64.72%);
  border-radius: 0.8rem;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
  padding: 2.5rem 6rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  text-shadow:rgba(0, 0, 0, 0.25) 0 3px 8px ;
   -webitu-user-select:none;
  transition: all 0.5s;
  user-select: none;
  text-transform:capitalize;
  font-family: "Josefin Sans",sans-serif;
}

button:hover{
  box-shadow:rgb(80, 63, 205,0.2) 0  1px , 30px;
  transition-duration:0.15s;
}

button:last-child{
  background: var(--dark);
   margin-bottom: 0px;
}


/* ---------------Out Game Area---------- */
  #gameArea{
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #newGameButton button{
     margin: 2rem 0;
  }

  input{
    border: 0.1rem solid lightgray;
    background: transparent;
    margin: 4rem 0;
    padding:2rem 0;
    width: 25rem;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
  }
  .stats{
    text-align: left;
    margin-bottom: 4rem;
    
  }
  .info{
    /* /* display: flex; */
    justify-content: space-between;
    align-items: center;     
  }
  .info span{
    font-size: 2rem;
    color: #ff0511;
  }

  
 /*---------------------------
   for responsive
   ---------------------------*/
   @media(max-width:1200px)
     {
        body
        {
          width:100vw;
        }
        main
        {
          width: 50vw;
          padding: 2rem;
        }
        input
        {
          width:20rem;
        }
     }

     @media (max-width: 800px)
     {
         body
           {
            width: 100vw;
           }
          main{
            width: 80vw;
            padding: 2rem;
          }
          /* #welcomeScreen h2{
            text-transform: capitalize;
            font-size: 2rem;
          } */
      }